Привет, <b>{{ user_name }}</b>!
<b>{{ bot_name }}</b> позволяет искать группы и беседы, связанные со студенческой жизнью в СПбГУ. <i>Группы могут находиться в разных мессенджерах/веб-сервисах: Вк, Тг, Discord...</i>

Используйте:
 🔹/{{ search_cmd }} для поиска беседы или группы
 🔹/{{ register_cmd }} для регистрации беседы или группы
